*{
    font-family: 'Montserrat';
    font-style: normal;
}

body{
    width: 100%;
    max-width:1920px;
    margin:0 auto;
}
/* header */
header{
    background: url(/img1/block1.png);
    text-align: center;
    background-attachment: fixed;
    width:100%;
    height:100%;
}
/* headerDiv1 */
.headerDiv{
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}
.headerUl{
    display:flex ;
    flex-direction:row;
    text-transform: uppercase;
    list-style-type: none
    
}
 .headerLi{
    margin-right:20px ;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.6);
    padding-bottom:43px;
    padding-top: 44px;
    fill: rgba(255, 255, 255, 0.6);
    border-bottom:2px solid rgba(94, 93, 88, 0);
}
.headerLi:hover{
    color: #18CFAB;
    border-bottom:2px solid #18CFAB;
    fill: #18CFAB;
}
/* headerDiv2 */
.headerDiv2{
    margin-top:250px;
    margin-bottom:134px;
}
.headerDiv2 > h2, h1, h4 {
    margin:0;
}
.headerH2{
    /* width:100%; */
    font-weight: 700;
    font-size: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom:22px;
}
.headerH1{
    font-weight: 700;
    font-size: 78px;
    color: #FFFFFF;
    text-transform: uppercase;
    
}
.headerH4{
    font-weight: 400;
font-size: 36px;
color: #D4D4D4;
}
/* headerdiv3 */
.headerDiv3{
    
    flex-direction: row;
    justify-content: space-between;
    padding-bottom:243px
}
.headerButton1{
    background: #18CFAB;
    border-radius: 3px;
    border:none;
    padding:16px 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);

}
.headerButton2{
    background: #00CBF6;
    border-radius: 3px;
    border:none;
    padding:16px 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    margin-left:24px;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
}
/* main block 1*/
.mainDivGrid{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    height:377px;
    margin-top:8px;
}
.mainDivGridPart1{
    background: #1C2A33;
}
.mainDivGridPart2{
    background: #18CFAB;
}
.mainDivGridPart3{
    background: #1C2A33;
}
.mainDivGridPart4{
    background: #18CFAB;
}
.mainGridCenter{
    padding-top:85px;
    padding-bottom:47px;
    display: block;
    margin:auto;
}
.mainGridText1{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom:50px;
}
.mainGridText2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-bottom:50px;
    padding-top:22px;
}
.mainGridText3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    padding-bottom:50px;
}
.mainGridText4{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top:21px;
    padding-bottom:50px;
}
/* main block 2 */
.mainH2{
    font-weight: 400;
font-size: 36px;
line-height: 40px;
align-items: center;
text-align: center;
color: #4E4E4E;
}
.mainImg{
    width: 91px;
    height: 8px;
    display: block;
    margin:auto;
    margin-bottom:69px;
}
/* main Tabs */
.mainDivTabs{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom:23px;
}
.mainDivTabs > button{
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    font-weight: 400;
    font-size: 15px;
    line-height: 39px;
    color: #717171;
    padding:16px 20px;
    transition: 0.3s;
}
.mainDivTabs > button:hover{
    border:1px solid #18CFAB;
}
.mainDivTabs > .mainActive{
    position: relative;
    background: #18CFAB;
    border:1px solid #18CFAB;
    color: #FFFFFF;
    transition: 0.3;
}
.mainDivTabs > .mainActive::after {
    content: ''; 
    position: absolute;
    left:40%;
    top: 72px;
    border: 10px solid transparent;
    border-top: 10px solid #18CFAB;
    transition: 0.3;
}
.mainDivTabsSelector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:150px;
    margin-bottom:91px;
}
.mainDivTabsSelector > div{
    display:none;
}
.mainDivTabsSelector > div.mainActive{
    display:block
}
.mainDivTabsSelector > div > p{
    width: 952px;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #777777;
    margin:0
}
.mainDivTabsSelector > div > img{
    float: left;
    width: 192px;
    height: 139px;
    margin-right:15px;
}
/* section 1 */
.sectionDivBackground{
    background:url(/img3/Layer\ 21\ 1.png);
    width:100%;
    height:476px;
    
}
.sectionDivBackground > *{
    margin:0;
}
.sectionDivBackground > h2{
    padding-top: 126px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
}
.sectionDivBackground > h6{
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
    margin-bottom:86px;
}
.sectionDivBackground > button{
    background: #18CFAB;
    border-radius: 3px;
    border:none;
    padding:16px 17px;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    color: #FFFFFF;
    box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -webkit-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px -5px 0px 0px rgba(255,255,255,1);
    text-transform: uppercase;
    display:block;
    margin:auto;
}
#pictureLoader{
    margin: auto;
    display: block;
    border-radius: 6px;
    border: 0;
    background:#18CFAB;
    width:150px;
    margin-top:70px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height:64px;
}
#pictureLoader > span{
    padding-right:10px;
    padding-left: 10px;
    text-transform: uppercase
}
#pictureLoader > p {
    font-family: 'Montserrat';
    font-size: 16px;
    color:#FFFFFF;
    width:100px;
    text-transform: uppercase;
    margin:0;
}
.load1{
    display: none;
}
/* section 2 */
#section1{
    background: #E9EDEF;
    /* height:auto;
    max-height: 2500px; */
}
.sectionH2{
    height:auto;
    text-align: center;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    margin-bottom:24px;
    margin-top:94px;
}
.sectionImg{
    width: 93px;
    height: 8px;
    display: block;
    margin:auto;
    margin-bottom:69px;

}
.sectionTabBar{
    display: flex;
    justify-content: center;
    margin-bottom: 71px;
}
.sectionTabBar > button{
    
    border: 1px solid #DADADA;
    padding:12px 28px 9px;
    color: #717171;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
}
.sectionTabBar > .sectionActive{
    border:1px solid #18CFAB;
    color: #18CFAB;
}
/* section 3 */
.sectionImgFinder{
    display: grid;
    grid-template-columns:auto auto auto auto;
    grid-template-rows:211px;
    justify-content: center;
    gap: 5px;
}
.sectionImgFinder > img .sectionOfElipse{
    max-width: 285px;
}
.sectionImgFinder > li > img{
    width:283px;
    height:211px;
}
.sectionOfElipse{
    border-top:1px solid #18CFAB;
    text-align: center;
    width:285px;
}
.sectionSquare{
    position:absolute;
    width: 12px;
    height: 11px;
    background: #18CFAB;
    top:35%;
    left:35%;
}
.sectionChain{
    position: absolute;
    top:30%;
    left:30%;
    width: 14.22px;
    height: 14.2px;
    fill:#18CFAB;
}
.sectionOfElipse > button{
    position:relative;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    width: 41px;
    height: 40px;
    
}
.sectionOfElipse > button:hover{
    background: #18CFAB;
}
.sectionOfElipse > button:hover > .sectionSquare{
    background: #FFFFFF;
}
.sectionOfElipse > button:hover > .sectionChain{
    fill: #FFFFFF;
}
.sectionOfElipse > h3{
    text-transform: uppercase;
    color: #18CFAB;
    font-weight: 700;
    font-size: 14.1771px;
    line-height: 25px;
    text-align: center;
    margin-bottom:0;
}
.sectionP{
    margin:0;
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    text-align: center;
}
.sectionImgFinder{
    list-style-type: none;
}
.sectionImgFinder > .sectionActive{
    display: block;
}
.sectionImgFinder > li {
    height: 211px;
    display: none;
}
.sectionImgFinder > li > div{
    opacity:0;
    transition: 0.5s;
}
.sectionImgFinder > li > img{
    position:absolute;
    transition: 0.3s;
}
.sectionImgFinder > li:hover > div{
    opacity:1;
}
.sectionImgFinder > li:hover > img{
    opacity: 0;
}
/* section2 */
.section2H2{
    text-align: center;
    color: #4E4E4E;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
}
.section2grid{
    display: grid;
    grid-template-columns: 263px 263px 263px 263px;
    grid-template-rows:288px 288px;
    list-style-type: none;
    grid-gap:35px;
    padding:0px 0 0px;
    justify-content: center;
}
.section2grid > li > a{
    text-decoration:none;
}
.section2FatherBlock{
    position: relative;
    height:208px;
}
.section2FatherBlock > div{
    position:absolute ;
    right:0;
    width:70px;
    background: #203E38;
    text-align: center;
    height: 68px;
    padding:15px 6px 0px;
}
.section2FatherBlock > img{
    position:absolute ;
}
.section2FatherBlock > div > p{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin:0;
}
.section2HeadOfBlock{
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    width: 227px;
    padding-left:20px;
    margin-top:0;
    margin-bottom:0;
}
.section2HeaderOfBlock{
    color: #777777;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    width: 227px;
    padding-left:20px;
    margin:0;
}
.section2grid > li:hover > a > .section2HeadOfBlock {
    color: #18CFAB;
} 
.section2grid > li:hover > a > .section2FatherBlock > div{
    background-color: #18CFAB;
    color: #FFFFFF;
}
/* section 3 */
.section3{
    height:900px;
    background: url(./img5/Layer\ 333.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
/* footer */
footer{
    height:120px;
    background: #22353F;
    position: relative;
}
.final_text{
    position: absolute;
    /* display: flex;
    justify-content: center; */
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#AEAEAE;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}
/* section 3 */
.section_3_Centering{
    display: flex;
    justify-content: center;
    padding: 50px 0px 30px 0px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
}
.section_3_Centering_img{
    display: flex;
    /* justify-content: center; */
    margin: 0 auto;
}
.central_content{
    list-style-type:none;

}
.central_content > li.section_3_active{
    display: flex;
    flex-direction: column;
    /* justify-content:center; */
    transform: translateX(-20px);

}
.central_content > li{
    display: none;
}
.central_content > li.section_3_active > p{
    height:80px;
    width:65%;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0px;
    color:#BBBBBB;
    flex-shrink: 0;
    text-align: center;
    margin:10px auto;
    
}
.central_content > li.section_3_active > h4{
    color: #18CFAB;
    text-align: center;
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    /* padding-top:15px; */
}
.central_content > li.section_3_active > h5{
    color: #bbbbbb94;
    text-align: center;
    font-size: 12px;
    font-family: Montserrat;
    font-weight: 700;
    /* line-height: 27px; */
    /* text-transform: uppercase; */
    padding-top:10px;
    margin: 0;
}
.central_content > li.section_3_active > img{
    width: 143px;
    height: 142px;
    border: 10px solid #1fdab55b;
    border-radius: 100%;
    margin:0 auto;
    margin-top: 40px;
    margin-bottom:60px;
    
}
.section_3_active{
    display:block;
}
/* arrows */
.central_content_arrow{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding-left:0;
    width: 40%;
    margin:0 auto;
}
.central_content_arrow > li.bordered{
    transition: 0.3s;
    cursor: pointer;
}
.central_content_arrow > li.bordered > img{
    width:60px;
    height:60px;
    border:5px solid #1fdab55b;
    border-radius: 100%;
    
}
.central_content_arrow > li.bordered:hover{
    transform:translateY(-20%);
}
.central_content_arrow > li.arrows{
    border: 1px solid #BBBBBB;
    color:#BBBBBB;
    display:flex;
    justify-content: center;
    align-items: center;
    height:31px;
    width:31px;
    transition: 0.5s;
    
}
.central_content_arrow > li.arrows:hover{
    background:#18CFAB;
    border:1px solid #18CFAB;
}
.central_content_arrow > li.arrows > span{
    font-size: 35px;
    cursor:default;
    font-weight:bolder;
    color:#FFFFFF;
    transform: translateY(-5%);
}